{% extends 'recipe/base.html' %}


{% block title %}
    Ingredient- {{ ingredient.name }}
{% endblock %}

{% block content %}
    <div>
         <ul class="inline">
                        {% if perms.recipe.change_ingredient %}
                        <li>
                            <a href="{{ ingredient.get_update_url }}"
                               class="button">
                                Edit</a></li>
                        {% endif %}
                        {% if perms.recipe.delete_ingredient %}
                        <li>
                            <a href="{{ ingredient.get_delete_url }}"
                               class="button">
                                Delete</a></li>
                        {% endif %}
                </ul>
        <h1>{{ ingredient.ingredient_name }}</h1>
    </div>

    <h3>Recipes which have this as main ingredient</h3>
{% for recipe in recipe_list %}
    {% if recipe.published_date%}
    <li >
            <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
            <div>Average Rate: {{ recipe.average_rate_score}}</div>
            {% if recipe.author == user %}
            <a href="{{ recipe.get_delete_url }}"
                               class="button">
                                Delete</a>
                {% endif %}

    </li>
    {% endif %}
{% empty %}
    <p>No recipes have this ingredient as main ingredient :(</p>
{% endfor %}
{% endblock %}